<div class="p-0 px-4">
  <div class="flex items-center space-x-2 mt-5">
    <mat-icon aria-hidden="false" aria-label="Google Maps icon" class="mr-3">location_on</mat-icon>
    <p class="text-lg font-bold">La disponibilidad de los transportistas se calcula con base al peso y al volumen de la carga.</p>
  </div>
  <mat-card class="w-full" appearance="raised">
    <mat-card-content>
      <div class="flex flex-col space-y-4" *ngFor="let paquete of paquetes; let i = index">
        <div class="flex flex-col space-y-4">
          <div *ngFor="let producto of paquete.productos" class="flex flex-col mb-4 w-full">
            <div class="flex flex-row">
              <figure class="m-4 flex-shrink-0 w-20 h-20">
                <img [src]="producto.enlace_imagen" class="w-full h-full object-cover" />
              </figure>
              <div class="flex-1">
                <p class="text-xl">{{ producto.nombre_producto }} - {{ producto.color }} - {{ producto.talla }}</p>
                <p>
                  Cantidad:
                  <span>{{ producto.cantidad }}</span>
                </p>
                <p>
                  Peso:
                  <span>{{ producto.peso }}</span>
                </p>
              </div>
            </div>
            <mat-divider></mat-divider>
          </div>
        </div>
        <div>
          <ul *ngIf="paquete.tramportista.length > 0" class="list-none">
            <li *ngFor="let transportista of paquete.tramportista" class="mb-4">
              <header>
                <mat-radio-button
                  (click)="checkMetodoEnvio(transportista, i)"
                  name="paquete_{{ paquete.productos[0].cons_producto }}"
                >
                  {{ transportista.nombre }}
                </mat-radio-button>
              </header>
              <div>
                <p>
                  Valor transporte:
                  <span *ngIf="transportePreferente">
                    Se eligió un transporte preferente, este transporte es totalmente costeado por la empresa compradora.
                  </span>
                  <span *ngIf="transportista.valorEnvio == 0 && !transportePreferente">Gratis</span>
                  <span *ngIf="transportista.valorEnvio != 0">
                    {{ transportista.valorEnvio | currency : '$' }}
                    <!-- {{ moneda_operacion }} -->
                  </span>
                </p>
              </div>
            </li>
          </ul>
          <ul *ngIf="paquete.tramportista.length === 0" class="list-none">
            <li class="mb-4">
              <header>
                <mat-radio-button
                  (click)="checkMetodoEnvio(envioGratis, i)"
                  name="paquete_{{ paquete.productos[0].cons_producto }}"
                >
                  Acordar con el vendedor
                </mat-radio-button>
              </header>
              <div>
                <p>
                  Valor transporte:
                  <span *ngIf="transportePreferente">
                    Se eligió un transporte preferente, este transporte es totalmente costeado por la empresa compradora.
                  </span>
                  <span *ngIf="!transportePreferente">Los precios serán acordados con el vendedor.</span>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="flex justify-end w-full">
        <button class="mr-2" mat-flat-button color="accent" *ngIf="showBackButton" (click)="previous()">Atrás</button>
        <!-- <button mat-flat-button color="accent" *ngIf="finalizar" (click)="guardar()">Confirmar Paquetes</button> -->
      </div>
    </mat-card-actions>
  </mat-card>
</div>
