.actions-providers-wrapper {
    width: 97%;
    margin-bottom: 0.25rem;
    button {
      width: 100%;
      padding: 0.25rem;
      margin: 00.25rem
    }
    svg {
      margin-right: 0.25rem;
    }
    span {
      padding-top: 0.75rem;
    }
  }
  