.footer__container {
    background: linear-gradient(-40deg,#f2a900 1%,#f2a900 44%,#2e2925 44%,#001f4c 100%);
 }

.footer__bg--icon {
    right: -384px;
    top: 21%;
    width: 520px;
    height: auto;
    font-size: 38rem;
    z-index: -1;
  
    @media (width >= 640px) {
      right: -950px;
      top: 4%;
      width: 1500px;
      height: auto;
      font-size: 95rem;
      z-index: -1;
    }
  
    @media (width >= 1024px) {
        right: -755px;
        top: 80%;
        width: 1500px;
        height: auto;
        font-size: 98rem;
        z-index: -1;
    }
}
