
<footer class="footer__container text-white mt-auto flex items-center justify-center relative h-96 overflow-hidden py-20">
    <div class="bg-pulquigray/70  inline-flex flex-col sm:items-center sm:justify-center p-5 sm:p-10 m-auto relative w-full sm:w-3/4 xl:w-1/2">
      <img src="assets/images/pulqui/iso.png" alt="Logo Pulqui" class="w-20 h-20 sm:w-32 sm:h-32 lg:w-40 lg:h-40 absolute -top-14 sm:-top-8 sm:-left-8">
      <div class="flex items-center mb-4">
        <mat-icon class=" !w-12 sm:w-14 sm:h-8">place</mat-icon>
        <p class="!m-0"><a class="text-white no-underline cursor-pointer" href="https://www.google.com/maps/place/Pulqui+Marketplace/@-34.6809046,-58.5784577,17z/data=!3m1!4b1!4m6!3m5!1s0x95bcc6482d37c2eb:0x360a83d3197fb15f!8m2!3d-34.6809046!4d-58.5784577!16s%2Fg%2F1td43p9v?entry=ttu&g_ep=EgoyMDI1MDUwNy4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer">Av.Monseñor Bufano 2357 - San Justo - Buenos Aires</a></p>
      </div>
      <div class="flex items-center mb-4">
        <mat-icon class="!w-12 sm:w-14 sm:h-8">phone</mat-icon>
        <p class="!m-0"><a class="text-white no-underline cursor-pointer" href='https://wa.me/5491128180173' target="_blank" rel="noopener noreferrer">+(54 9 11) 2818 0173</a></p>
      </div>
      <div class="flex items-center mb-4">
        <mat-icon class=" !w-12 sm:w-14 sm:h-8">email</mat-icon>
        <p class="!m-0"><a class="text-white no-underline cursor-pointer" href="mailto:ventas@pulqui.com.ar?Subject=Interesado%20en%20los%20productos">ventas&#64;pulqui.com.ar</a></p>
      </div>
      <p>Sitio seguro con cliptografía (SSL) blindado contra robo de información y clonación de tarjetas</p>
      <p>Pulqui 2024 Todos los derechos reservados</p>
    </div>
</footer>
<!-- div (Solo ayuda en posición del footer) -->
<div *ngIf="(screenSize$ | async) !== 'desktop'" class="bg-transparent h-16 w-full md:hidden" aria-hidden="true"></div>