<!-- <div class="w-2/3">
    <div>This is the JSON response for the promotions:</div>
    <pre class="w-3/3 overflow-y-auto"><code>{{promotions}}</code></pre>
</div> -->

<section class="promotions max-w-[1200px] m-auto xl:px-9 my-8">
  <h2 class="text-white !text-lg md:!text-2xl mb-2 px-5 xl:px-0">
    Promociones
  </h2>
  <div class="px-5 xl:px-0 mb-5 flex flex-row overflow-y-auto">
    <div *ngFor="let promotion of promotions; trackBy: trackByPromotion" class="pr-1.5 last:pr-0">
      <app-card-producto [item]="promotion" class="bg-white" [favorites]="[]"></app-card-producto>
    </div>
    <div *ngIf="!promotions.length" class="text-white px-5">
      No hay promociones disponibles.
    </div>
  </div>
</section>


